$avatar-margin: 10px

.act-steps
  max-width: 800px

.act-step
  @include clearfix
  margin-bottom: 20px
  padding: 10px
  background-color: black
  border: 2px solid #333333
  border-radius: 6px

  &.incomplete-step
    border-style: dashed

  .actor-avatar
    float: left
    margin-right: $avatar-margin
    margin-bottom: 5px

  .step-details
    margin-left: $large-avatar-size-desktop + $avatar-margin

  .user-name
    color: $brand-primary

  blockquote
    white-space: pre-wrap
    quotes: "\201C""\201D""\2018""\2019"
    font-style: italic

  blockquote:before
    color: #ccc
    content: open-quote
    font-size: 5em
    line-height: 0.1em
    margin-right: 0.25em
    vertical-align: -0.4em
    //font-family: serif
    color: #555

  //.quoted-text p
  //  display: inline


@media (max-width: $screen-xs-max)
  .act-step
    .step-details
      margin-left: $large-avatar-size-mobile + $avatar-margin
