$avatar-margin: 10px
$radius: 6px;

.act-steps
  max-width: 800px

.act-step
  @include clearfix
  padding: 10px
  background-color: #30343E
  border: 1px solid #434857
  border-bottom-width: 0

  &:first-child
    border-top-left-radius: $radius
    border-top-right-radius: $radius

  &:last-child
    border-bottom-left-radius: $radius
    border-bottom-right-radius: $radius
    border-bottom-width: 1px

  &.incomplete-step
    border-style: dashed

  .actor-avatar
    float: left
    margin-right: $avatar-margin
    margin-bottom: 5px

  .step-details
    margin-left: $large-avatar-size-desktop + $avatar-margin

  .user-name
    color: $brand-primary

  blockquote
    white-space: pre-wrap
    quotes: "\201C""\201D""\2018""\2019"
    font-style: italic

  blockquote:before
    color: #ccc
    content: open-quote
    font-size: 5em
    line-height: 0.1em
    margin-right: 0.25em
    vertical-align: -0.4em
    //font-family: serif
    color: #555

  //.quoted-text p
  //  display: inline


@media (max-width: $screen-xs-max)
  .act-step
    .step-details
      margin-left: $large-avatar-size-mobile + $avatar-margin
